In [1]:
import pandas as pd

In [2]:
olym = pd.read_csv("Olympics.csv")

In [3]:
olym

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32,Olav Augunson Aarnes,M,23,NaN,NaN,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's High Jump,NaN
96,33,Mika Lauri Aarnikka,M,24,187.0,76.0,Finland,FIN,1992 Summer,1992,Summer,Barcelona,Sailing,Sailing Men's Two Person Dinghy,NaN
97,33,Mika Lauri Aarnikka,M,28,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"""Athletics Men's 1,500 metres""",NaN
99,35,Dagfinn Sverre Aarskog,M,24,190.0,98.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
sel_colum=['name','medal']

In [5]:
olym_sel=olym[sel_colum]

In [7]:
print(olym_sel)

                                  name medal
0                            A Dijiang   NaN
1                             A Lamusi   NaN
2                  Gunnar Nielsen Aaby   NaN
3                 Edgar Lindenau Aabye  Gold
4             Christine Jacoba Aaftink   NaN
..                                 ...   ...
95                Olav Augunson Aarnes   NaN
96                 Mika Lauri Aarnikka   NaN
97                 Mika Lauri Aarnikka   NaN
98  Jamale (Djamel-) Aarrass (Ahrass-)   NaN
99              Dagfinn Sverre Aarskog   NaN

[100 rows x 2 columns]

In [8]:
olym.name.count()

100

In [9]:
olym.medal.value_counts()

medal
Gold      9
Bronze    8
Silver    4
Name: count, dtype: int64

In [10]:
gold_medal=olym[olym['medal'] == 'Gold']

In [14]:
print(gold_medal)

    id                       name sex  age  height  weight            team  \
3    4       Edgar Lindenau Aabye   M   34     NaN     NaN  Denmark/Sweden
42  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
44  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
48  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
60  20         Kjetil Andr Aamodt   M   20   176.0    85.0          Norway
73  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
76  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
78  20         Kjetil Andr Aamodt   M   34   176.0    85.0          Norway
79  21  Ragnhild Margrethe Aamodt   F   27   163.0     NaN          Norway

    noc        games  year  season            city          sport  \
3   DEN  1900 Summer  1900  Summer           Paris     Tug-Of-War
42  FIN  1948 Summer  1948  Summer          London     Gymnastics
44  FIN  1948 Summer  1948  Summer          London     Gymnastics
48  FIN  1948 Summer  1948  Summer          London     Gymnastics
60  NOR  1992 Winter  1992  Winter     Albertville  Alpine Skiing
73  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
76  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
78  NOR  2006 Winter  2006  Winter          Torino  Alpine Skiing
79  NOR  2008 Summer  2008  Summer         Beijing       Handball

                               event medal
3        Tug-Of-War Men's Tug-Of-War  Gold
42  Gymnastics Men's Team All-Around  Gold
44      Gymnastics Men's Horse Vault  Gold
48  Gymnastics Men's Pommelled Horse  Gold
60       Alpine Skiing Men's Super G  Gold
73       Alpine Skiing Men's Super G  Gold
76      Alpine Skiing Men's Combined  Gold
78       Alpine Skiing Men's Super G  Gold
79         Handball Women's Handball  Gold

In [16]:
silver_medal = olym[olym['medal'] == 'Silver']

In [18]:
silver_medals = silver_medal.sort_values(by='year')

In [20]:
silver_medals[['name', 'year']]

                  name  year
86    Alf Lied Aanning  1920
63  Kjetil Andr Aamodt  1994
67  Kjetil Andr Aamodt  1994
92    Pepijn Aardewijn  1996

In [24]:
medal_counts= olym.groupby(['city','medal']).size()
print(medal_counts)

city            medal
Albertville     Bronze    1
                Gold      1
Antwerpen       Bronze    2
                Silver    1
Atlanta         Silver    1
Beijing         Gold      1
Helsinki        Bronze    1
Lillehammer     Bronze    1
                Silver    2
London          Bronze    1
                Gold      3
Paris           Gold      1
Salt Lake City  Gold      2
Seoul           Bronze    1
Sochi           Bronze    1
Torino          Gold      1
dtype: int64

In [35]:
gold_medals_count = gold_medal.groupby('city')['medal'].count()
print(gold_medals_count)

city
Albertville       1
Beijing           1
London            3
Paris             1
Salt Lake City    2
Torino            1
Name: medal, dtype: int64

In [31]:
countries_more_than_50_gold = gold_medals_count[ gold_medals_count > 50 ]

In [33]:
countries_more_than_50_gold

Series([], Name: medal, dtype: int64)

#If you are getting an empty Series with the message Series([], Name: medal, dtype: int64), it means that there are no countries in your dataset that have won more than 50 gold medals.

In [34]:
medal_counts = olym.groupby('name')['medal'].count()
print(medal_counts)
print('\n')
most_medals = medal_counts.idxmax()
total_medals = medal_counts.max()

print(f"The athlete who has won the most medals is {most_medals} with {total_medals} medals.")

name
A Dijiang                               0
A Lamusi                                0
Agnes Erika Aanonsen (-Eyde)            0
Alf Lied Aanning                        1
Andreea Aanei                           0
Antti Sami Aalto                        0
Arvo Ossian Aaltonen                    2
Christine Jacoba Aaftink                0
Cornelia \Cor\" Aalten (-Strannood)"    0
Dagfinn Sverre Aarskog                  0
Edgar Lindenau Aabye                    1
Einar Ferdinand \Einari\" Aalto"        0
Evald rma (rman-)                       0
Fritz Aanes                             0
Gunnar Nielsen Aaby                     0
Jamale (Djamel-) Aarrass (Ahrass-)      0
Jan-Erik Aarberg                        0
Johan Aantjes                           0
John Aalberg                            0
Jorma Ilmari Aalto                      0
Juhamatti Tapio Aaltonen                1
Jyri Tapani Aalto                       0
Kjetil Andr Aamodt                      8
Mika Lauri Aarnikka                     0
Minna Maarit Aalto                      0
Nils Egil Aaness                        0
Olav Augunson Aarnes                    0
Paavo Johannes Aaltonen                 5
Pepijn Aardewijn                        1
Per Knut Aaland                         0
Pirjo Hannele Aalto (Mattila-)          0
Ragnhild Margrethe Aamodt               1
Timo Antero Aaltonen                    0
Willemien Aardenburg                    1
Win Valdemar Aaltonen                   0
Name: medal, dtype: int64


The athlete who has won the most medals is Kjetil Andr Aamodt with 8 medals.

In [51]:
freestyle_events = olym[olym['event'].str.contains('Freestyle', case=False)]
print(freestyle_events['event'].unique())

["Swimming Men's 400 metres Freestyle"]

In [66]:
athlete_sport_medal_counts = olym.groupby(['sport', 'name'])['medal'].count().reset_index()

# Filter out athletes who have not won any medals
athlete_sport_medal_counts = athlete_sport_medal_counts[athlete_sport_medal_counts['medal'] > 0]

# Define a function to find the top 3 athletes in each sport
def top_3_athletes(df):
    return df.nlargest(3, 'medal')

# Apply the function to each sport group
top_3_athletes_by_sport = athlete_sport_medal_counts.groupby('sport').apply(top_3_athletes)

# Reset the index
top_3_athletes_by_sport.reset_index(drop=True, inplace=True)

# Display the top 3 athletes by the total number of medals won in each sport
print("Top 3 Athletes by Total Medals Won in Each Sport:")
print(top_3_athletes_by_sport)

Top 3 Athletes by Total Medals Won in Each Sport:
           sport                       name  medal
0  Alpine Skiing         Kjetil Andr Aamodt      8
1     Gymnastics    Paavo Johannes Aaltonen      5
2     Gymnastics           Alf Lied Aanning      1
3       Handball  Ragnhild Margrethe Aamodt      1
4         Hockey       Willemien Aardenburg      1
5     Ice Hockey   Juhamatti Tapio Aaltonen      1
6         Rowing           Pepijn Aardewijn      1
7       Swimming       Arvo Ossian Aaltonen      2
8     Tug-Of-War       Edgar Lindenau Aabye      1

In [54]:
athlete_medals_count = olym.groupby(['year', 'name'])['medal'].count().reset_index(name='Total_Medals')

In [55]:
athletes_more_than_one_medal = athlete_medals_count[athlete_medals_count['Total_Medals'] > 1]

In [57]:
print(athletes_more_than_one_medal[['year', 'name', 'Total_Medals']])

    year                     name  Total_Medals
4   1920     Arvo Ossian Aaltonen             2
9   1948  Paavo Johannes Aaltonen             4
25  1992       Kjetil Andr Aamodt             2
30  1994       Kjetil Andr Aamodt             3
44  2002       Kjetil Andr Aamodt             2

In [59]:
gold_medals_by_season = gold_medal.groupby(['city', 'games'])['medal'].count().reset_index(name='Gold_Medals')

In [60]:
gold_medals_pivoted = gold_medals_by_season.pivot(index='city', columns='games', values='Gold_Medals')

In [64]:
print(gold_medals_pivoted)

games           1900 Summer  1948 Summer  1992 Winter  2002 Winter  \
city
Albertville             NaN          NaN          1.0          NaN
Beijing                 NaN          NaN          NaN          NaN
London                  NaN          3.0          NaN          NaN
Paris                   1.0          NaN          NaN          NaN
Salt Lake City          NaN          NaN          NaN          2.0
Torino                  NaN          NaN          NaN          NaN

games           2006 Winter  2008 Summer
city
Albertville             NaN          NaN
Beijing                 NaN          1.0
London                  NaN          NaN
Paris                   NaN          NaN
Salt Lake City          NaN          NaN
Torino                  1.0          NaN

In [69]:
# Step 1: Group by 'Country' and 'Athlete', and count the number of medals for each athlete in each country
athlete_medals_count = olym .groupby(['city', 'name'])['medal'].count().reset_index(name='Total_Medals')

# Step 2: Group by 'Country' and calculate the average number of medals won per athlete
average_medals_per_athlete = athlete_medals_count.groupby('city')['Total_Medals'].mean().reset_index(name='Average_Medals_Per_Athlete')

# Step 3: Display the resulting DataFrame
print(average_medals_per_athlete)

              city  Average_Medals_Per_Athlete
0      Albertville                    0.500000
1        Antwerpen                    1.000000
2           Athina                    0.000000
3          Atlanta                    0.333333
4        Barcelona                    0.000000
5          Beijing                    1.000000
6           Berlin                    0.000000
7          Calgary                    0.000000
8         Helsinki                    0.500000
9        Innsbruck                    0.000000
10     Lake Placid                    0.000000
11     Lillehammer                    0.600000
12          London                    1.000000
13     Los Angeles                    0.000000
14     Mexico City                    0.000000
15          Munich                    0.000000
16          Nagano                    0.000000
17           Paris                    0.500000
18  Rio de Janeiro                    0.000000
19  Salt Lake City                    1.000000
20        Sarajevo                    0.000000
21           Seoul                    1.000000
22           Sochi                    1.000000
23    Squaw Valley                    0.000000
24       Stockholm                    0.000000
25          Sydney                    0.000000
26          Torino                    1.000000

In [70]:
#s
# Group data by country and sport, then count the number of unique sports in which each country has won medals
country_sport_counts = olym.groupby(['city', 'sport']).size().reset_index(name='MedalCount')
countries_medals_per_sport = country_sport_counts.groupby('city')['sport'].count()

# Filter out countries that have won medals in more than 10 different sports
countries_more_than_10_sports = countries_medals_per_sport[countries_medals_per_sport > 10]

if not countries_more_than_10_sports.empty:
    # Display the list of countries
    print("Countries that have won medals in more than 10 different sports:")
    print(countries_more_than_10_sports.index.tolist())
else:
    print("No country has won medals in more than 10 different sports.")

No country has won medals in more than 10 different sports.

In [72]:
# Step 1: Group by 'Country' and 'Athlete', and count the number of medals for each athlete in each country
athlete_medals_count = olym .groupby(['city', 'name'])['medal'].count().reset_index(name='Total_Medals')

# Step 2: Group by 'Country' and calculate the average number of medals won per athlete
average_medals_per_athlete = athlete_medals_count.groupby('city')['Total_Medals'].mean().reset_index(name='Average_Medals_Per_Athlete')

# Step 3: Display the resulting DataFrame
print(average_medals_per_athlete)

              city  Average_Medals_Per_Athlete
0      Albertville                    0.500000
1        Antwerpen                    1.000000
2           Athina                    0.000000
3          Atlanta                    0.333333
4        Barcelona                    0.000000
5          Beijing                    1.000000
6           Berlin                    0.000000
7          Calgary                    0.000000
8         Helsinki                    0.500000
9        Innsbruck                    0.000000
10     Lake Placid                    0.000000
11     Lillehammer                    0.600000
12          London                    1.000000
13     Los Angeles                    0.000000
14     Mexico City                    0.000000
15          Munich                    0.000000
16          Nagano                    0.000000
17           Paris                    0.500000
18  Rio de Janeiro                    0.000000
19  Salt Lake City                    1.000000
20        Sarajevo                    0.000000
21           Seoul                    1.000000
22           Sochi                    1.000000
23    Squaw Valley                    0.000000
24       Stockholm                    0.000000
25          Sydney                    0.000000
26          Torino                    1.000000